#centeri{
    background:url('../Images/MrBurger.png')no-repeat center left #FF580D;
	background-size: 100px 100px;  /*es para poner una imagen mas pequeña*/
	border:5px solid #8C807A;
	color:#42579C;
	padding: 70px 40px;
	display: block;
	background-position: center; 	

}
.center{
    text-align: center;
    border: 3px solid white;
}

body{
	font-family: Verdana,sans-serif;
	font-size:13px;
	color: #4f545F;
	margin:0;
	border:0;
}
fieldset{
	border:2px none #dddddd;
	margin: 20px;
	padding:20px;
}
legend{
	font-size:1.3em; /*em es para la escala entre el padre y el hijo y para poder visualizaro bien en tablet y en web */
	font-weight:900;
}
p.title{
	font-weight:800;
}

#addcartButton{
	text-align: center;
	background: #FF925E;
}
#resetButton{
	text-align: center;
	background: #C9AB9E;
}
input[type=submit]:hover{
	cursor:pointer;
}
